# # Jupyter notebook
# jupyter                   # For running Jupyter notebooks

# Data manipulation and visualization
numpy                     # For numerical computations
pandas                    # For data manipulation
matplotlib                # For plotting and visualization

# Scikit-learn for preprocessing and train-test split
scikit-learn              # For model selection and preprocessing

# TensorFlow Datasets for dataset utilities
tensorflow-datasets       # For loading datasets like CIFAR-10

# # Ensure pip is up to date
# pip
